<div class="flex justify-between items-center gap-3 sm:gap-2 md:gap-3 flex-col w-full h-full" id="a-form">
    <h2 class="switch__title text-2xl sm:text-3xl md:text-4xl font-bold leading-loose md:mb-5 text-center">
        Bienvenue sur <span class="text-pblue">P</span>icto<span class="text-pred">P</span>icto!
    </h2>
    <p class="switch__description text-sm text-center tracking-[0.25px] leading-relaxed">Destinée à développer
        la
        communication à l'aide de pictogrammes,
        l'application est réservée aux professionnels de santé qui en font la demande.</p>
    <p class="switch__description text-sm text-center tracking-[0.25px] leading-relaxed">L'inscription vous
        permettra un suivi des progrès de votre
        patient
        ainsi que l'intégration de nouveaux pictogrammes choisis par vos soins.</p>
    <p class="switch__description text-sm text-center tracking-[0.25px] leading-relaxed">Vous n'êtes pas un
        professionnel de santé?
        Le mode invité vous permettra de découvrir notre application en toute liberté</p>
    <form action={{ guest }} method="get">
        <button class="btn-b" type="submit">
            Mode invité
        </button>
    </form>
</div>