<div class="absolute bottom-3 flex flex-col">
    <div class="font-bold inline-flex text-sm underline ">
        <a class="hover:text-pred transition duration-150" href="{{ mentions }}">
            Mentions légales
        </a>
        <p class="px-2">
            |
        </p>
        <a class="hover:text-pred transition duration-150" href="{{ partners }}">
            Partenaires
        </a>
        <p class="px-2">
            |
        </p>
        <a class="hover:text-pred transition duration-150" href="{{ apropos }}">
            A Propos
        </a>
    </div>
    <div class="inline-flex text-sm mt-1">
        <p>
            © Tous droits réservés - <span class="text-pblue">P</span>icto<span class="text-pred">P</span>icto® 2021
        </p>
    </div>
</div>