<div
  class="w-full h-[95%] flex flex-col justify-between overflow-auto mt-3 md:mt-0 md:ml-3 p-4 bg-[#ffffff80] shadow-inset-5/5 rounded-xl border border-solid border-t-[#ffffff59] border-l-[#ffffff59] border-r-[#dedfe059] border-b-[#dedfe059]">
  {% if app.request.getPathInfo == path('therapist_profile') %}
  {% include "therapist/profile/profile_section_show.html.twig" %}

  {% elseif app.request.getPathInfo == path('therapist_profile_update') %}
  {% include "therapist/profile/profile_section_update.html.twig" %}

  {% elseif app.request.getPathInfo == path('therapist_profile_desactivate') %}
  {% include "therapist/profile/profile_section_desactivate.html.twig" %}
  
  {% endif %}
  
</div>