<table class="table w-full relative">
  <tbody class="flex flex-col gap-1">
    {% include "/therapist/_table_header.html.twig" with {path: 'therapist_patients_create_one', entity: 'dossier'} %}
    {% for patient in patients %}
    <tr class="flex flex-row justify-start items-center text-sm sm:text-base border-b pb-1">
      <td class="text-center md:text-start w-1/3">
        <a href="{{ path( 'therapist_patients_get_one' , { code: patient.code }) }}">
          {{ patient.firstName }} {{patient.lastName}}
        </a>
      </td>
      <td class="text-center md:text-start w-1/3">{{ patient.birthDate|date("Y-m-d") }}</td>
      <td class="text-center md:text-start w-1/3">
        {% include "/therapist/_actions_table.html.twig" with {
        path1: 'therapist_patients_update_one',
        path2: 'therapist_patients_desactivate_one',
        code: patient.code,
        entity: 'dossier'
        } %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "/therapist/_pagination.html.twig" with {path: 'therapist_patients'} %}