<div
  class="w-full h-[95%] flex flex-col justify-between overflow-auto mt-3 md:mt-0 md:ml-3 p-4 bg-[#ffffff80] shadow-inset-5/5 rounded-xl border border-solid border-t-[#ffffff59] border-l-[#ffffff59] border-r-[#dedfe059] border-b-[#dedfe059]">
  {% if app.request.getPathInfo == path('therapist_patients_get_all') %}
  {% include "therapist/patients/patients_section_list.html.twig" %}

  {% elseif app.request.getPathInfo == path('therapist_patients_create_one') %}
  {% include "therapist/patients/patients_section_form.html.twig"  %}

  {% elseif app.request.getPathInfo == path('therapist_patients_get_one', {code: code}) %}
  {% include "therapist/patients/patients_section_one.html.twig" %}

  {% elseif app.request.getPathInfo == path('therapist_patients_update_one', {code: code}) %}
  {% include "therapist/patients/patients_section_one_update.html.twig" %}

  {% elseif app.request.getPathInfo == path('therapist_patients_deactivate_one', {code: code}) %}
  {% include "therapist/patients/patients_section_one_deactivate.html.twig" %}

  {% elseif app.request.getPathInfo == path('therapist_patients_note_create', {code: code}) %}
  {% include "therapist/patients/patients_section_note_create.html.twig" %}
  
  {% endif %}

</div>