{% extends 'base.html.twig' %}

{% block title %}
Session with {{ app.session.get('patient').firstName }} {{ app.session.get('patient').lastName }}
{% endblock %}

{% block body %}
<div class="sm:min-h-screen bg-pbg relative">
    {# index page of session #}
    {% if app.request.getPathInfo == path('app_therapist_session_index') %}
    <div
        class="flex flex-col justify-between items-center w-full sm:w-5/6 md:w-4/5 lg:w-2/3 xl:w-1/2 h-full bg-pform sm:rounded-xl overflow-hidden ml-auto mr-auto p-4">
        {% include "session/_header.html.twig" %}
        <div class="flex flex-col gap-6 justify-center items-center w-full p-4 md:p-8 lg:p-12 bg-[#e5e9ec]">
            {% include "session/_index_section.html.twig" with {
            path: 'app_therapist_session_dialogue',
            title: 'Dialogue' } %}
            {% include "session/_index_section.html.twig" with {
            path: 'app_therapist_session_exchange',
            title: 'Echange' } %}
            {% include "session/_index_section.html.twig" with {
            path: 'app_therapist_session_game',
            title: 'Jeu de mémoire' } %}
        </div>
        <div></div>
        <div class="flex justify-center items-center w-full bg-pform sm:rounded-xl overflow-hidden ml-auto mr-auto p-4">
            {% include "session/_index_section.html.twig" with {
            path: 'app_therapist_session_exit',
            title: 'Quitter la session' } %}
        </div>
    </div>
    {# differents session modes (exchange, dialogue or game) #}
    {% else %}
    <div class="pr-40 pt-5 w-full">
        {% if app.request.getPathInfo == path('app_therapist_session_exchange') %}

        {% include "session/section_exchange.html.twig" %}

        {% endif %}
    </div>

    {# sidebar to operate #}
    {% include "session/_section_sidebar.html.twig" %}
    {% endif %}

</div>
{% endblock %}