<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/LogoEcam.png') }}" />
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% block importmap %}
    {{ importmap("app") }}
    {% endblock %}
    {% endblock %}
</head>

<body>
    <div class="absolute left-0 top-0 right-0 z-50">
        {% include "_partials/_flash.html.twig" %}
    </div>
    {% block body %}
    {% endblock %}
</body>

</html>