{% extends 'base.html.twig' %}

{% block title %}
{% if app.request.getPathInfo starts with '/therapist/profile' %}
Profile {{ app.user.email }}
{% elseif app.request.getPathInfo starts with '/therapist/patients' %}
List of {{ app.user.email }} patients
{% endif %}
{% endblock %}

{% block body %}
<div class="sm:h-screen bg-pbg">
  <div class="relative w-full sm:w-[90%] md:w-[80%] lg:w-[70%] xl:w-[70%] h-full bg-pform sm:rounded-xl
      overflow-hidden p-3 ml-auto mr-auto">
    <!-- logo of the site -->
    {% include "therapist/index_header.html.twig" %}
    <div class="flex flex-col md:flex-row items-start sm:p-4 h-5/6">
      <!-- side bar with list of entities -->
      {% include "therapist/content_list.html.twig" %}

      <div
        class="relative w-full h-[95%] flex flex-col justify-between overflow-auto mt-3 md:mt-0 md:ml-3 p-2 md:p-4 bg-[#ffffff80] shadow-inset-5/5 rounded-xl border border-solid border-t-[#ffffff59] border-l-[#ffffff59] border-r-[#dedfe059] border-b-[#dedfe059]">
        <!-- according to route shows sections -->
        {% if app.request.getPathInfo starts with '/therapist/profile' %}
        {% include "therapist/profile/profile.html.twig" %}

        {% elseif app.request.getPathInfo == path('therapist_therapists') %}
        {% include "therapist/therapists.html.twig" %}

        {% elseif app.request.getPathInfo starts with '/therapist/patients' %}
        {% include "therapist/patients/patients.html.twig" %}

        {% elseif app.request.getPathInfo == path('therapist_categories') %}
        {% include "therapist/categories.html.twig" %}

        {% elseif app.request.getPathInfo starts with '/therapist/pictograms' %}
        {% include "therapist/pictograms/pictograms.html.twig" %}

        {% elseif app.request.getPathInfo == path('therapist_institutions') %}
        {% include "therapist/institutions.html.twig" %}

        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}