<div
  class="w-full h-4/5 flex flex-col justify-between md:justify-start overflow-auto mt-3 md:mt-0 md:ml-3 p-4 bg-[#ffffff80] shadow-inset-5/5 rounded-xl border border-solid border-t-[#ffffff59] border-l-[#ffffff59] border-r-[#dedfe059] border-b-[#dedfe059]">
  <table class="table w-full relative">
    <tbody class="flex flex-col gap-1">
      <tr class="absolute -top-3 left-0"><td>{{ count }} therapists au total</td></tr>
      <tr class="flex flex-row justify-start items-center text-sm sm:text-base py-4 border-b">
        <th class="text-center md:text-start w-1/3">Nom</th>
        <th class="text-center md:text-start w-1/3">Fonction</th>
        <th class="text-center md:text-start w-1/3">Actions</th>
      </tr>
      {% for institution in institutions %}
      <tr class="flex flex-row justify-start items-center text-sm sm:text-base border-b pb-1">
        <td class="text-center md:text-start w-1/3">{{ institution.title }}</th>
        <td class="text-center md:text-start w-1/3">{{ institution.code}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "/therapist/_pagination.html.twig" with {path: 'therapist_institutions'} %}
</div>