<div
  class="w-full h-4/5 flex flex-col justify-between md:justify-start overflow-auto mt-3 md:mt-0 md:ml-3 p-4 bg-[#ffffff80] shadow-inset-5/5 rounded-xl border border-solid border-t-[#ffffff59] border-l-[#ffffff59] border-r-[#dedfe059] border-b-[#dedfe059]">
  {% if app.request.getPathInfo == path('therapist_patients_get_all') %}
  {% include "therapist/patients_section_list.html.twig" %}
  {% elseif app.request.getPathInfo == path('therapist_patients_create_one') %}
  {% include "therapist/patients_section_form.html.twig" %}
  {% elseif app.request.getPathInfo == path('therapist_patients_get_one') %}
  {% include "therapist/patients_section_one.html.twig" %}
  {% elseif app.request.getPathInfo == path('therapist_patients_desactivate_one') %}
  {% include "therapist/patients_section_one.html.twig" %}

  {% endif %}

</div>